---
import { marked } from "marked"
import { getAssetURL } from "../../utils/getAssetData"

import MainLayout from "../../layouts/MainLayout.astro"
import { getDirectusClient } from "../../utils/getDirectusClient"

export async function getStaticPaths() {
  const directus = await getDirectusClient()
  const response = await directus.items("projects").readByQuery({
    fields: ["*"],
  })

  return response.data.map(({ title, description, slug, technologies, link, short_description, image }) => {
    return {
      params: { slug },
      props: { title, description, technologies, link, short_description, image },
    }
  })
}
const { title, description, technologies, link, short_description, image } = Astro.props
---

<MainLayout title="Project" classes="project">
  <main class="project--content">
    <div class="project--image-container">
      <img src={getAssetURL(image)} alt="" class="project--image" />
    </div>

    <div class="project--text-container">
      <div class="project--tech">
        {technologies.map((tech) => <span class="tech--item">{tech}</span>)}
      </div>
      <h1>{title}</h1>
      <Fragment set:html={marked.parse(description)} />
      <a href={link} class="project--button">
        <p>View project</p>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
        </svg>
      </a>
    </div>
  </main>
</MainLayout>
